.Compose__parent {
  width: 100%;
  background-color: #fff;
  display: flex;
}

.Compose__top {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.Compose__input {
  border-radius: 5px;
  border: 1px solid #181818;
  padding: 10px;
  width: 50%;
  outline: none;
}

.Compose__bottom {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.Compose__bottom button {
  color: rgb(255, 255, 255);
  background-color: #494949;
  border: none;
  border-radius: 5px;
  padding: 8px 30px;
}
