.put-box {
  height: 30px;
  width: 500px;
  border-radius: 5px;
  border-color: black;
}
.edit {
  height: 30px;
  border-color: black;

  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}
.delete {
  border-color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}
.comment-button {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.comment {
  margin-top: 10px;
  margin-left: 5px;
}
