.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-bottom: black solid;
}
.list-box {
  display: flex;
  justify-content: space-around;
}
.list {
  display: flex;
}
.Critique-box {
  display: flex;
  justify-content: center;
  width: 200px;
  border-radius: 12px;
  padding: 3px;
  background-color: rgb(5, 5, 5);
}
.website {
  display: flex;
  justify-content: center;
  width: 130px;
  border-radius: 12px;
  padding: 3px;
  background-color: rgb(7, 7, 7);
}
.about {
  display: flex;
  justify-content: center;
  width: 100px;
  border-radius: 12px;
  padding: 3px;
  background-color: rgb(5, 5, 5);
}
.rules {
  display: flex;
  justify-content: center;
  width: 100px;
  border-radius: 12px;
  padding: 3px;
  background-color: rgb(3, 3, 3);
}
