.button {
  background-color: rgb(255, 255, 255);
  height: 30px;
  border-color: black;

  border-radius: 30px;
}
.add-box {
  display: flex;
  justify-content: center;
  border-radius: 25px;
}
.Add {
  width: 600px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border-color: black;
}
.outer-box {
  background-color: rgb(255, 255, 255);
}
.all-images {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
